CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_PLATINAMX6BOARDS=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/platina/mx6boards/imximage.cfg,MX6SX,I2C_PMIC_0"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
