CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_SYS_TEXT_BASE=0xB0000000
CONFIG_TARGET_PLATINAMX6BOARDS=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/platina/mx6boards/imximage.cfg,MX6SX,I2C_PMIC_0,SYS_BOOT_QSPI"
CONFIG_BOOTSTAGE_STASH_SIZE=4096
CONFIG_CMD_BOOTZ=y
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="platina-mk1-bmc"
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
# CONFIG_USE_PRIVATE_LIBGCC is not set
